[Unit]
Description=Gunicorn instance to serve bokehflaskbootstrap
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/bokehflaskbootstrap
Environment="PATH=/home/ubuntu/bokehflaskbootstrap/venv/bin"
ExecStart=/home/ubuntu/bokehflaskbootstrap/venv/bin/gunicorn --workers 2 --bind unix:bokehflaskbootstrap.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
